@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #f7f9fc;
  color: #2b2b2b;
  font-family: 'Playfair Display', serif;
}

.site-header {
  position: absolute;
  top: 24px;
  left: 32px;
  z-index: 10;
}

.site-header h1 {
  margin: 0;
  font-size: 32px;
  font-style: italic;
}

.site-header p {
  margin: 4px 0 0;
  font-size: 14px;
  opacity: 0.7;
}

main {
  height: 100%;
}

#map {
  width: 100vw;
  height: 100vh;
}

.site-footer {
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 10;
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.footer-left {
  text-align: right;
  font-size: 14px;
}

.footer-left a {
  color: #2b2b2b;
  text-decoration: none;
}

.footer-left a:hover {
  text-decoration: underline;
}

.footer-left .year {
  opacity: 0.6;
  margin-top: 4px;
}

.footer-right img {
  width: 96px;
  height: 96px;
}
