@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: #f8fafc;
  color: #1f2933;
}

.site-header {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.site-header h1 {
  margin: 0;
  font-style: italic;
}

.site-header p {
  margin: 4px 0 0;
  opacity: 0.7;
}

#map {
  width: 100vw;
  height: 100vh;
}

.site-footer {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.footer-left {
  text-align: right;
}

.footer-left a {
  text-decoration: none;
  color: #1e3a8a;
}

.footer-right img {
  width: 80px;
  height: 80px;
}
